# Ignora fisierele generate de MacOS
.DS_Store

# Ignore fisierele generate de python la import
__pycache__

# TODO: remove next two lines
# Ignora fisierul cu datele de test (modul development)
test_data.py
