# Ignora fisierele generate de MacOS
.DS_Store

# Ignora fisierele generate de python la import
__pycache__

# Ignora directorul secrets
secrets

# TODO: remove next two lines
# Ignora fisierul cu datele de test (modul development)
test_data.py
