.bot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: flex;
}

.bot-message {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  -webkit-appearance: none;
  background-color: white;
  transition: 0.5s;
  outline: none;
  background-color: #30323d;
  border: none;
  color: #cdd1c4;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 2px;
  text-decoration: none;
  box-shadow: 1px 1px 10px rgb(100, 100, 100);
  border-radius: 25px;
  font-size: 20px;
  width: 100%;
  max-width: min(500px, 90%);
  padding: 30px;
  text-align: center;
  margin-top: 40px;
}

.bot-message-text {
  margin-top: 20px;
}

.bot-answer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  -webkit-appearance: none;
  background-color: white;
  transition: 0.5s;
  outline: none;
  background-color: #30323d;
  border: none;
  color: #cdd1c4;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 2px;
  text-decoration: none;
  box-shadow: 1px 1px 10px rgb(100, 100, 100);
  border-radius: 25px;
  font-size: 20px;
  width: 100%;
  max-width: 500px;
  padding: 30px;
  text-align: left;
  margin-top: 40px;
  flex-grow: 1;
  height: 100%;
  max-width: min(500px, 90%);
  margin-bottom: 20px;
}

.bot-answer-drawing {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  -webkit-appearance: none;
  background-color: white;
  transition: 0.5s;
  outline: none;
  background-color: #30323d;
  border: none;
  color: #cdd1c4;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
  box-shadow: 1px 1px 10px rgb(100, 100, 100);
  border-radius: 25px;
  font-size: 20px;
  width: 100%;
  /* max-width: 500px; */
  padding: 30px;
  text-align: left;
  margin-top: 40px;
  flex-grow: 1;
  height: 100%;
  max-width: min(600px, 90%);
  margin-bottom: 20px;
}

.bot-answer-input {
  -webkit-appearance: none;
  outline: none;
  border: none;
  padding: 10px;
  box-shadow: 1px 1px 10px rgb(60, 60, 60);
  font-size: 20px;
  border-radius: 10px;
  text-align: left;
  color: #443742;
  font-weight: 600;
  margin: auto;
  width: 80%;
  max-width: 400px;
  margin-top: 20px;
  box-sizing: border-box;
}

.bot-message-icon,
.bot-answer-icon {
  width: 50px;
  border-radius: 50%;
  margin: auto;
}

.bot-choice-container-element {
  -webkit-transition: 0.5s;
  -webkit-appearance: none;
  margin-top: 20px;
  align-self: center;
  text-align: center;
  flex: none;
  font-size: 16px;
  max-width: 400px;
  width: 80%;
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;
  background-color: #cdd1c4;
  border: 3px solid #cdd1c4;
  color: #30323d;
  padding: 6px;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: 1px 1px 10px #424553;
  border-radius: 15px;
  margin: auto;
  margin-top: 20px;
}

.bot-choice-container-element:hover {
  box-shadow: 1px 1px 10px #5b5f70;
}

.bot-message-image {
  /* flex: 1; */
  max-width: 90%;
  /* width: auto; */
  /* height: auto; */
  /* display: block; */
  margin: auto;
  margin-top: 20px;
  border-radius: 3%;
  box-shadow: 1px 1px 10px rgb(54, 52, 52);
}

.back {
  margin-top: 60px;
  background-color: #57676e;
  border: 3px solid #57676e;
}

.bot-select {
  -webkit-transition: 0.5s;
  -webkit-appearance: none;
  outline: none;
  font-size: 20px;
  padding-left: 5px;
  width: 100%;
  max-width: 60px;
  cursor: pointer;
  background-color: #cdd1c4;
  color: #30323d;
}

.bot-select-option {
}

.selectors {
  display: flex;
  justify-content: space-evenly;
}

.bot-message-images-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.bot-message-images {
  width: 50%;
  height: 50%;
}
