.drawing-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.drawing-canvas {
  background-image: url(images/clock.png);
  height: 500px;
  width: 500px;
  margin: auto;
}

.drawing-area {
  margin: auto;
}

.drawing-submit-button {
  -webkit-transition: 0.5s;
  -webkit-appearance: none;
  margin-top: 20px;
  align-self: center;
  text-align: center;
  flex: none;
  font-size: large;
  max-width: 400px;
  width: 80%;
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;
  background-color: #cdd1c4;
  border: 3px solid #cdd1c4;
  color: #30323d;
  padding: 8px;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: 1px 1px 10px #424553;
  border-radius: 15px;
  margin: auto;
  margin-top: 20px;
}
