header {
  background-color: #30323d;
  color: #cdd1c4;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 2px 4px 10px grey;
  position: relative;
  z-index: 1;
  flex-grow: 0;
  flex-wrap: wrap;
  padding: 10px;
}

.header-title {
  display: flex;
  margin-left: 20px;
  justify-content: center;
  text-shadow: 1px 1px #000000;
  cursor: pointer;
}

.header-nav {
  display: flex;
  margin: auto;
  flex-direction: row;
  margin-right: 5px;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
