.nav-signout,
.nav-home,
.nav-contact,
.nav-faq {
  margin-left: 5px;
  flex: none;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  -webkit-appearance: none;
  background-color: white;
  transition: 0.5s;
  outline: none;
  background-color: #30323d;
  /* border: 3px solid #30323d; */
  border: none;
  color: #cdd1c4;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 2px;
  text-decoration: none;
  cursor: pointer;
  /* box-shadow: 1px 1px 10px rgb(60, 60, 60); */
  border-radius: 5px;
  font-size: 14px;
  margin-right: 10px;
  /* min-width: 80px; */
  /* width: 100%; */
}

.nav-signout:hover,
.nav-home:hover,
.nav-contact:hover {
  color: #ffffff;
}
